<a href="https://colab.research.google.com/github/AkshatKJain/Data_Science_PW/blob/main/Feature_Engineering/Handling_Imbalanced_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1 -> Up Sampling
increase the minority

### 2 -> Down Sampling
decrease the majority

In [2]:
import pandas as pd
import numpy as np

np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0, n_class_1

(900, 100)

In [4]:
class_0 = pd.DataFrame({
    'feature1' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
    'feature2' : np.random.normal(loc = 0, scale = 1, size = n_class_0),
    'target' : [0]*n_class_0
})
class_1 = pd.DataFrame({
    'feature1' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
    'feature2' : np.random.normal(loc = 2, scale = 1, size = n_class_1),
    'target' : [1]*n_class_1
})

In [5]:
df = pd.concat([class_0, class_1]).reset_index(drop = True)

In [6]:
df.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [12]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

In [13]:
#upsampling

df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [15]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority, replace = 'True', n_samples = len(df_majority), random_state = 42)
df_minority_upsampled.shape

(900, 3)

In [16]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [18]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [19]:
#down Sampled
from sklearn.utils import resample
df_majority_downsampled = resample(df_majority, replace = 'False', n_samples = len(df_minority), random_state = 42)
df_majority_downsampled.shape

(100, 3)